In [6]:
import pandas as pd
import numpy as np

carros = pd.read_csv('mtcars.csv')

carros.columns = ['nomes', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'qnt_marchas', 'carb']
carros.index = carros.nomes

In [11]:
carros_cat = carros[['cyl', 'am', 'qnt_marchas', 'carb']]

In [13]:
marchas_grupo = carros_cat.groupby('qnt_marchas')
marchas_grupo.describe().T

qnt_marchas          3          4         5
cyl  count   15.000000  12.000000  5.000000
     mean     7.466667   4.666667  6.000000
     std      1.187234   0.984732  2.000000
     min      4.000000   4.000000  4.000000
     25%      8.000000   4.000000  4.000000
     50%      8.000000   4.000000  6.000000
     75%      8.000000   6.000000  8.000000
     max      8.000000   6.000000  8.000000
am   count   15.000000  12.000000  5.000000
     mean     0.000000   0.666667  1.000000
     std      0.000000   0.492366  0.000000
     min      0.000000   0.000000  1.000000
     25%      0.000000   0.000000  1.000000
     50%      0.000000   1.000000  1.000000
     75%      0.000000   1.000000  1.000000
     max      0.000000   1.000000  1.000000
carb count   15.000000  12.000000  5.000000
     mean     2.666667   2.333333  4.400000
     std      1.175139   1.302678  2.607681
     min      1.000000   1.000000  2.000000
     25%      2.000000   1.000000  2.000000
     50%      3.000000   2.000000  4.000000
     75%      4.000000   4.000000  6.000000
     max      4.000000   4.000000  8.000000

In [14]:
carros['grupo'] = pd.Series(carros['qnt_marchas'], dtype='category')

In [15]:
carros.dtypes

nomes            object
mpg             float64
cyl               int64
disp            float64
hp                int64
drat            float64
wt              float64
qsec            float64
vs                int64
am                int64
qnt_marchas       int64
carb              int64
grupo          category
dtype: object

In [16]:
carros['grupo'].head()

nomes
Mazda RX4            4
Mazda RX4 Wag        4
Datsun 710           4
Hornet 4 Drive       3
Hornet Sportabout    3
Name: grupo, dtype: category
Categories (3, int64): [3, 4, 5]

In [17]:
pd.crosstab(carros['am'], carros['qnt_marchas'])

qnt_marchas   3  4  5
am
0            15  4  0
1             0  8  5